.root{
    -fx-body-color: #3C3F41;
    -fx-inner-border: #a1a3b0;
    -fx-outer-border: #a1a3b0;
    -fx-shadow-highlight-color: #a1a3b0;
}

.split-pane {
    -fx-background-color: -fx-body-color;
    -fx-text-fill: lightyellow ;
}
.tool-bar {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0, 0, 0 0 1 0;
}


.button {
    -jfx-button-type: FLAT;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-border-color: #a1a3b0;
    -fx-border-width: 0.5px;
    -jfx-rippler-fill: #2212d0;
}

.button .jfx-rippler{
    -jfx-rippler-fill: #2212d0;
}
.tree-view .tree-cell {
    -fx-background-color: -fx-body-color ;
    -fx-text-fill: lightyellow ;

}
.tree-cell:expanded {
    -fx-background-color: #404040 ;

}

.text-input {
    -fx-text-fill: #BBBBBB ;
    -fx-background-color: #45494A;
}
.label{
    -fx-text-fill: lightyellow ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color: #404040 ;
    -fx-border-width: 0.5px;
    -fx-border-color: #6e5fdd;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

.tree-cell .selection-bar {
    -fx-background-color: #6e5fdd;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: white;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: white;
}