<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>kafkaexplorer-1.1</string>
  <key>CFBundleGetInfoString</key>
  <string>KafkaExplorer</string>
  <key>CFBundleName</key>
  <string>KafkaExplorer</string>
  <key>CFBundleIconFile</key>
  <string>keiconblue.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
</dict>
</plist>



